In [2]:
import pandas as pd
import numpy as np
import matplotlib.patches as patches
import matplotlib
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("mycsvfile.csv")

In [4]:
df

    f_id  p_num  size      time  VST  VFT
0      2      0   197  0.031249    0    3
1      1      0   256  0.031249    0    4
2      1      1   256  0.046903    4    8
3      2      1   197  0.046903    4    7
4      2      2   197  0.049180    7   10
5      1      2   256  0.050206    8   12
6      2      3   197  0.052177   10   13
7      1      3   256  0.054202   12   16
8      2      4   197  0.055177   13   16
9      2      5   197  0.058183   16   19
10     1      4   256  0.058183   16   20
11     2      6   197  0.061177   19   22
12     2      7   197  0.061177   22   25
13     1      5   256  0.062192   22   26
14     1      6   256  0.066206   26   30
15     1      7   256  0.066206   30   34

In [5]:
import matplotlib.pyplot as plt

In [6]:
df_fd_id_one = df.loc[df['f_id'] == 1]
df_fd_id_two = df.loc[df['f_id'] == 2]

In [7]:
df_fd_id_one

    f_id  p_num  size      time  VST  VFT
1      1      0   256  0.031249    0    4
2      1      1   256  0.046903    4    8
5      1      2   256  0.050206    8   12
7      1      3   256  0.054202   12   16
10     1      4   256  0.058183   16   20
13     1      5   256  0.062192   22   26
14     1      6   256  0.066206   26   30
15     1      7   256  0.066206   30   34

In [8]:
df_fd_id_two

    f_id  p_num  size      time  VST  VFT
0      2      0   197  0.031249    0    3
3      2      1   197  0.046903    4    7
4      2      2   197  0.049180    7   10
6      2      3   197  0.052177   10   13
8      2      4   197  0.055177   13   16
9      2      5   197  0.058183   16   19
11     2      6   197  0.061177   19   22
12     2      7   197  0.061177   22   25

In [9]:
fig = matplotlib.pyplot.gcf()
fig.set_size_inches(18.5, 10.5)

In [1]:
fig2 = plt.figure(figsize=(10,10),dpi=100)
ax2 = fig2.add_subplot(111, aspect='equal')
for index, row in df_fd_id_two.iterrows():
    ax2.add_patch(
        patches.Rectangle(
            (row["VST"], 40),
            3,
            10,
            fill=False 
        )
    )
for index, row in df_fd_id_one.iterrows():
    ax2.add_patch(
        patches.Rectangle(
            (row["VST"], 10),
            3,
            10,
            fill=False 
        )
    )

plt.xlim(-10, 50)
plt.ylim(-10, 100)

NameError: name 'plt' is not defined